##################
# Bazel
##################
bazel-*
# Intellij with Bazel (IJWB)
.ijwb/

# TODO(Jonathon): Remove when I add the linters on CI instances
linting.bazelrc

**/node_modules/
**/__pycache__/

**/__pycache__/
.hypothesis

##################
# Intellij
##################
.idea

##################
# Terraform
##################
infrastructure/**/.terraform/**
**/*.tfstate.backup

##################
# mypy
##################
**/.mypy_cache/

##################
# Python
##################
**__pycache__/
